acetate/01-prepare/prepare

acetate/03-training-trjs/*.npz
acetate/03-training-trjs/*.lock

acetate/05-learning/*.h5
acetate/05-learning/hyperparams*.yaml
acetate/05-learning/hyperparams*.yml
acetate/05-learning/priors*.yml
acetate/05-learning/priors*.yaml
acetate/05-learning/*.log
acetate/05-learning/*.npy

acetate/05-learning-interactive/*.h5
acetate/05-learning-interactive/*.yaml
acetate/05-learning-interactive/*.yml
acetate/05-learning-interactive/*.log
acetate/05-learning-interactive/*.npy