acetate/01-prepare/prepare

acetate/05-optimization/*.h5
acetate/05-optimization/*.yaml
acetate/05-optimization/*.yml
acetate/05-optimization/*.log
acetate/05-optimization/*.npy

acetate/05-optimization-interactive/*.h5
acetate/05-optimization-interactive/*.yaml
acetate/05-optimization-interactive/*.yml
acetate/05-optimization-interactive/*.log
acetate/05-optimization-interactive/*.npy