01-prepare/colvars/ace-colvars/
01-prepare/colvars/*.log
01-prepare/plumed/ace/
01-prepare/plumed/*.log

02-reference-data/trajectories/*.npz
02-reference-data/trajectories/*.lock
02-reference-data/reference-assets/

02-training-data/trainset/

03-qoi/*.log
03-qoi/*.npy
03-qoi/qoi-*

04-train-lgp/*.log
04-train-lgp/models/

05-learning/*.log
05-learning/*.pt
05-learning/posterior-samples.yaml
05-learning/*.png

06-visualize/*.png

07-validate/validation-trainset/

**/__pycache__/
*.pyc
