01-prepare/colvars/ace-colvars/
01-prepare/colvars/*.log
01-prepare/plumed/ace/
01-prepare/plumed/*.log

02-reference-trjs/*.npz
02-reference-trjs/*.lock

03-training-trjs/trainset/

04-qoi/*.log
04-qoi/*.npy
04-qoi/qoi-*

05-train-lgp/*.log
05-train-lgp/models/

06-learn/*.log
06-learn/*.pt
06-learn/posterior-samples.yaml
06-learn/*.png

07-visualize/*.png

08-validate/validation-trainset/

**/__pycache__/
*.pyc
